/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  background-color: #e3e3e3;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
}

.content {
  margin-left: 10%;
  margin-right: 20%;
}
