/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  background-color: #e3e3e3;
}


.basic-link:link {
  color: blue;
}

a:visited {
  color: purple;
}

.basic-link:hover {
  color: green;
}

