<div class="content">


  <br>

  <div id="fixed__box">

    <div class="centered" style="margin-bottom: -55px;">

      <h2 id="title">Vintage Capacitor Encyclopedia</h2>
      <p>
        The Capacitor Archive is a free and open resource to document vintage capacitors.
      </p>

    </div>
    <span>
      <img id="arrow" src="../../../assets/manufacturer-sidebar-arrow.svg" alt="">
      <app-image id="find-button" src="../../assets/find-capacitor.png" width="250px"></app-image>
      <app-image id="add-button" routerLink="capacitor/create" src="../../assets/add-capacitor.png" width="250px"></app-image>
    </span>



    <!--ToDo add a photo of the manufacturer -> capacitor hierarchy-->
    <!--<h3>How it works</h3>-->


  </div>


</div>
