.content {
  text-align: center;
  margin-bottom: 150px;
}

p {
  font-size: 17px;
}

.centered {
  margin-left: 265px;
}

span app-image {
  margin: 10px;
}

#find-button:hover {
  cursor: pointer;
}

#add-button:hover {
  cursor: pointer;
}

#title {
  margin-bottom: 8px;
}

#arrow {
  width: 33%;
  margin-right: -18px;
  margin-bottom: 35px;
}

#fixed__box {
  position: absolute;
  left: 12%;
}
