<div class="content">

  <h1>Welcome</h1>

  <p style="color: red;">
    <strong>
      This site is currently under construction and is missing a lot of functionality!
    </strong>
  </p>

  <p>
    The capacitor archive is a place to find information on old vintage capacitors.  You don't need an account to add
    information to this resource.  If you have an old capacitor, first try searching for it with
    <a routerLink="not-implemented">Search a Capacitor</a> and if its not already in the database, feel free to add it!
  </p>


</div>
