<div class="content">

  <div *ngIf="companyName && capacitorType && capacitorUnit; else loading">
    <h2>You Are Editing a Type
      <a class="highlight" [routerLink]="" (click)="dynamicRouter.redirectTo(['/capacitor', 'view', companyName, capacitorUnit.typeName])">
        {{capacitorUnit.typeName}}
      </a>
      Size
      <a class="highlight">{{formattedCapacitance}}</a>
      capacitor made by
      <a class="highlight" [routerLink]="" (click)="dynamicRouter.redirectTo(['/manufacturer', 'view', companyName])">
        {{capacitorUnit && capacitorUnit.companyName}}
      </a>
    </h2>

    <app-capacitor-form [companyName]="companyName" [capacitorType]="capacitorType" [capacitorUnit]="capacitorUnit">
    </app-capacitor-form>
  </div>

  <ng-template #loading>
    <h3 class="loading">Loading Data...</h3>
  </ng-template>

</div>
