[Unit]
Description=Capacitor Archive Prod Server service

[Service]
Type=simple
Restart=always
RestartSec=10
User=bgt26
WorkingDirectory=/home/bgt26
ExecStart=/bin/bash runProdServer.sh

[Install]
WantedBy=multi-user.target
