

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li, a {
  font-family: "Lilita One", serif;
  font-weight: 500;
  font-size: 16px;
  color: darkgoldenrod;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 3%;
  background-color: #844b13;
}

.logo {
  cursor: pointer;
  margin: -20px -20px;
}
.banner {
  margin-left: 5%;
}

.title__nav__links {
  padding: 0px 20px;
  text-align: left;
}

.title {
  padding-left: 8px;
  padding-bottom: 2px;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9
}


