

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 3%;
  border-bottom-left-radius: 10px;

  background-image: url('../../../assets/navbar-background.jpg');
  background-color: #844b13;
  background-size: cover;
}

.logo {
  cursor: pointer;
  margin: -20px -20px;
}
.banner {
  margin-left: 5%;
}

.title__nav__links {
  padding: 0px 20px;
  text-align: left;
}

.title {
  padding-left: 8px;
  padding-bottom: 2px;
}

