<div class="sidenav"
     [style.animation-name]="selectAnimation(showShadow)"
     [style.box-shadow]="showShadow ? '-7.5px 12px 24px #005200' : '-1.25px 2px 4px'"
>

  <h3>Manufacturers</h3>

  <ng-container *ngIf="manufacturerListItems; else loading">
    <div *ngFor="let manufacturerListItem of manufacturerListItems;">
      <div class="link__padding">
        <a class="grey__link"
           [appRouterLink]="['/manufacturer', 'view', manufacturerListItem.companyName]"
           [title]="toolTipMsg(manufacturerListItem.numCapacitorUnits)"
           [ngClass]="manufacturerListItem.numCapacitorTypes > 0 ? 'bright' : 'dull'">
          {{manufacturerListItem.companyName}}
        </a>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div style="display: flex; justify-content: center; padding: 16px 0"><div class="spinner"></div></div>
  </ng-template>

  <div id="add-manufacturer" class="link__padding">
    <a class="grey__link" [appRouterLink]="['/manufacturer', 'create']">
      + Add Manufacturer
    </a>
  </div>

</div>

