
select {
  min-width: 210px;
}

#custom-country-input {
  min-width: 202px;
}

#custom-country-checkbox-label {
  all: initial;
  margin: 0 -4px 0 15px;
  cursor: pointer;
}

#custom-country-checkbox {
  cursor: pointer;
}
