<form style="margin: 35px 15px;" [formGroup]="capacitorForm">

  <!--Manufacturer Section-->
  <div id="manufacturer-section" class="input__section">

    <div class="info__blurb">
      Don't see the <strong>manufacturer</strong> in the list?
      <br>
      <strong><a class="nav__link" [routerLink]="" (click)="selectAddNewManufacturer()">Add a New Manufacturer</a></strong>

    </div>

    <label class="input__label__major" for="manufacturer">Select manufacturer:</label>
    <select id="manufacturer" class="input" formControlName="companyName"
            (change)="manufacturerMenuChanged($event)">

      <option class="special__menu__item" selected value>{{noneSelected}}</option>
      <option class="special__menu__item">{{newManufacturerOption}}</option>
      <option *ngFor="let companyName of companyNames$" [value]="companyName">
        {{companyName}}
      </option>

    </select>
    <span [style.visibility]="isNavigatingToCreateManufacturer ? 'visible' : 'hidden'" class="spinner manufacturer__spinner"></span>

    <hr>
  </div>


  <!--Type Section-->
  <div id="type-section" class="input__section" formGroupName="type" *ngIf="manufacturerIsSelected">

    <div style="margin-bottom: 20px">
      <app-image src="../../../assets/aerovox-type.png" link="true" height="100px" style="margin-right: 20px; margin-bottom: 9px">
      </app-image>
      <app-image src="../../../assets/dublier-type.png" link="true" height="120px">
      </app-image>
    </div>

    <div class="info__blurb">
      Don't see the <strong>type</strong> in the list?
      <br>
      <strong><a [routerLink]="" class="nav__link" (click)="selectAddNewType()">Add a new type</a></strong>

      <div class="type__info">
        <h3>What is a "Type"?</h3>
        A type or series is a group of capacitors with the
        same construction but different capacitance/voltage ratings.
        Some have their "type" clearly marked, but if it is not,
        please choose an identifier that seems appropriate.
        <app-image src="../../../assets/solar-type.jpg" link="true" width="230px" style="margin-top: 8px">
        </app-image>
      </div>

    </div>

    <label class="input__label__major" for="type">Select Type/Series:</label>
    <select id="type" class="input" formControlName="typeNameSelect" (change)="typeMenuChanged($event)">

      <option class="special__menu__item" selected value>{{noneSelected}}</option>
      <option class="special__menu__item">{{newCapacitorTypeOption}}</option>
      <option *ngFor="let capacitorType of capacitorTypes$" [value]="capacitorType.typeName">
        {{capacitorType.typeName}}
      </option>

    </select>
    <br>

    <ng-container formGroupName="typeContent">
      <label class="input__label__minor" for="type-name">Type Name*</label>
      <input id="type-name" class="input" size="30" formControlName="typeNameInput">
      <br>

      <label class="input__label__minor" for="construction">Construction*</label>
      <select id="construction" class="input" formControlName="construction">

        <option class="special__menu__item" selected [value]="noneSelected">{{noneSelected}}</option>
        <option *ngFor="let construction of constructionNames$" [value]="construction">
          {{construction}}
        </option>

      </select>
      <br>

      <div id="expansion-panel-container">
        <mat-expansion-panel [(expanded)]="yearsAreExpanded" class="input">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Include Years Produced
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div style="all: initial">
            <label class="input__label__minor start__end__label" for="start-year">Start Year</label>
            <input id="start-year" type="text" formControlName="startYear" class="start__end__input" size="10" placeholder="optional">
            <div class="error__msg" *ngIf="typeFields.startYear.errors">
              Year is not valid (YYYY)
            </div>
            <br>

            <label class="input__label__minor start__end__label" for="end-year">End Year</label>
            <input id="end-year" type="text" formControlName="endYear" class="start__end__input" size="10" placeholder="optional">
            <div class="error__msg" *ngIf="typeFields.endYear.errors">
              Year is not valid (YYYY)
            </div>
            <div class="error__msg" *ngIf="endYearBeforeStartYearError">
              {{typeFields.endYear.value}} is before {{typeFields.startYear.value}}
            </div>
          </div>

        </mat-expansion-panel>
      </div>


      <label class="input__label__minor" for="description">Description</label>
      <br>
      <textarea id="description" formControlName="description" class="input" rows="4" cols="35" placeholder="optional"></textarea>
      <br>
    </ng-container>

    <hr>
  </div>


  <!--Capacitor Section-->
  <div id="capacitor-section" class="input__section" *ngIf="manufacturerIsSelected">

    <label class="input__label__major">Add Capacitor:</label>
    <br>
    <br>

    <div class="input">
      <label class="input__label__minor" for="capacitance">Capacitance*</label>
      <app-input-capacitance id="capacitance"></app-input-capacitance>
    </div>

    <label class="input__label__minor" for="voltage">Voltage*</label>
    <input id="voltage" type="number" class="input" size="8">
    <br>

    <label class="input__label__minor" for="identifier">Identifiers</label>
    <input id="identifier" type="text" class="input" placeholder="optional">
    <br>

    <label class="input__label__minor" for="notes">Notes</label>
    <br>
    <textarea id="notes" class="input" rows="4" cols="35" placeholder="optional"></textarea>
    <br>

    <hr>
  </div>


</form>
