
* {
  font-family: "TELETYPE 1945", "Courier", serif;
}

.content {
  min-width: 95%;
  display: inline-grid;
  grid-template-columns: 60% 5% 35% 0%;
  grid-template-rows: 5% 15% auto 5%;
  margin-top: 10px
}

#image-box {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: goldenrod;
  overflow: hidden;
  padding: 10% 10%;
  border-radius: 10px;
}

 #image {
 }

#type-box {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #c1e3f2;

  padding: 21px 23px;

  line-height: 30px;
}

#type-name {
  font-size: larger;
}
