<div class="content">


  <ng-container *ngIf="capacitorUnit; else loading">



    <div id="image-box">
      <a id="edit-photos" [routerLink]=""
         (click)="dynamicRouter.navigate(['/capacitor', 'edit', companyName, typeName, capacitorUnit.value],
         {queryParams: {only: 'photos'}})">
        <img class="edit__icon" src="../../../assets/edit.svg" alt="">Edit Photos
      </a>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>


    <div id="type-box" class="info__box__right minor__shadow">
      <a *ngIf="capacitorType; else typeSpinner"
         class="edit__button"
         (click)="dynamicRouter.navigate(['/capacitor', 'edit', companyName, typeName, value], {queryParams: {only: 'type'}})"
         [routerLink]=""><img class="edit__icon" src="../../../assets/edit.svg" alt="">Edit Type</a>
      <ng-template #typeSpinner><span class="spinner" style="float: right; margin-top: 5px"></span></ng-template>

      <span style="font-size: 22px">Type: </span>

      <select *ngIf="capacitorTypeNames" id="type-dropdown"
              [ngStyle]="{'max-width': capacitorType.typeName.length < 20 ? capacitorType.typeName.length * 26 + 'px' : '95%'}"
              (change)="dynamicRouter.navigate(['/capacitor', 'view', companyName, $event.target.value])">

        <option *ngFor="let typeNameDropdown of capacitorTypeNames.sort(caseInsensitiveCompare)"
                [value]="typeNameDropdown" [selected]="typeNameDropdown.toLowerCase() === typeName.toLowerCase()">

          <strong class="type-name">{{typeNameDropdown}}</strong>

        </option>

      </select><br>

      Made by: <a [routerLink]="" (click)="dynamicRouter.navigate(['/manufacturer', 'view', capacitorType.companyName.toLowerCase()])">
      {{capacitorType && capacitorType.companyName}}
      </a><br>

      <ng-container *ngIf="capacitorTypeDescriptionPlainText">
        Description:
        <div class="block__description abbreviated__block">
          {{capacitorTypeDescriptionPlainText}}
          <a class="read__more" [routerLink]="" (click)="scrollToElement(fullDescription)">Read More</a>
        </div>
      </ng-container>

    </div>


    <div id="unit-box" class="info__box__right minor__shadow">
      <a class="edit__button"
         (click)="dynamicRouter.navigate(['/capacitor', 'edit', companyName, typeName, capacitorUnit.value],
            {queryParams: {only: 'unit'}})"
         [routerLink]=""><img class="edit__icon" src="../../../assets/edit.svg" alt="">Edit Value</a>
      <span *ngIf="!capacitorUnit" class="spinner" style="float: right; margin-top: 5px"></span>

      Capacitance:
      <span style="white-space: nowrap">
        {{capacitorUnit && formattedCapacitance(capacitorUnit.capacitance, true)}}
      </span><br>

      <ng-container *ngIf="capacitorUnit && capacitorUnit.voltage">
        Voltage: <strong>{{capacitorUnit.voltage}}V</strong><br>
      </ng-container>

      <ng-container *ngIf="capacitorUnit &&
      (capacitorUnit.length || capacitorUnit.diameter)">
        Dimensions: <span style="display: inline-block">{{capacitorUnit.getFormattedLengthDiameter()}}</span>
        <br>
      </ng-container>

      <ng-container *ngIf="capacitorUnit && capacitorUnit.thickness">
        Thickness: <span style="display: inline-block">{{capacitorUnit.thickness.trim()}}</span>
        <br>
      </ng-container>

      <ng-container *ngIf="capacitorUnit && capacitorUnit.mountingHoleDiameter">
        Mounting Hole Diameter: <span style="display: inline-block">{{capacitorUnit.mountingHoleDiameter.trim()}}</span>
        <br>
      </ng-container>



      <ng-container *ngIf="capacitorUnit && capacitorUnit.notes">
        Notes:
        <div class="block__description">{{capacitorUnit.notes}}</div>
      </ng-container>


    </div>


    <div id="similar-units-box" class="info__box__right minor__shadow">
      <strong><label for="similar-menu" title="These are the other capacitors in this type/family">
        Similar Capacitors
      </label></strong><br>

      <div id="similar-menu">
        <mat-selection-list #similarMenu [multiple]="false">
          <mat-list-option *ngFor="let similarUnit of capacitorUnits" [value]="similarUnit.value"
                           [selected]="capacitorUnit.value === similarUnit.value"
                           (click)="similarMenuChanged(similarMenu.selectedOptions.selected[0]?.value)"
                           (dblclick)="dynamicRouter.navigate(['/capacitor', 'edit', similarUnit.companyName,
                           similarUnit.typeName, similarUnit.value], {queryParams: {only: 'unit'}})">

            <div class="similar__unit__option__contents">
              <img class="similar-thumb" [src]="similarUnit.photos[0] ? similarUnit.getFirstPhoto().getSmallestThumbnail().url : '../../../assets/no-photo.png'"
                   alt="">
              <span class="similar-value">{{formatSimilarCapacitor(similarUnit)}}</span>
            </div>

          </mat-list-option>
        </mat-selection-list>
      </div>

      <strong><a style="font-size: 20px" class="nav__link"
                 [routerLink]=""
                 (click)="dynamicRouter.navigate(['/capacitor', 'create', companyName, typeName])">
        + Add a Capacitor
      </a></strong>
    </div>

    <div id="type-full-component" #fullDescription>
      <app-full-type [capacitorType]="capacitorType" [capacitorUnitValue]="value">
      </app-full-type>
    </div>

  </ng-container>

  <ng-template #loading>
    <h3 class="loading">Loading Page...</h3>
  </ng-template>

</div>
