<div style="margin-bottom: 70px">

  <form
    [formGroup]="manufacturerForm"
    (ngSubmit)="!manufacturerForm.invalid && onSubmit(manufacturerForm.value)"
  >

    <div *ngIf="errorsBackend.length > 0" class="error__submit">
      <div *ngFor="let error of errorsBackend"><strong>Error: </strong>{{error.message || error.error.message}}</div>
    </div>


    <div class="input">
      <label for="company-name">
        Manufacturer Name*
      </label>
      <input id="company-name" type="text" formControlName="companyName" placeholder="e.g. Solar, Aerovox" required
             [ngClass]="{ 'is-invalid': formFields.companyName.errors }">
      <div class="error__msg" *ngIf="formFields.companyName.errors && formFields.companyName.errors.required">
        Please provide the name of the Manufacturer
      </div>
    </div>

    <div class="input">
      <label for="open-year">
        Year Opened
      </label>
      <input id="open-year" type="text" formControlName="openYear" placeholder="optional"
             [ngClass]="{ 'is-invalid': formFields.openYear.errors || closeYearBeforeOpenYearError }">
      <div class="error__msg" *ngIf="formFields.openYear.errors">
        Year is not valid (YYY)
      </div>
    </div>

    <div class="input">
      <label for="close-year">
        Year Closed
      </label>
      <input id="close-year" type="text" formControlName="closeYear" placeholder="optional"
             [ngClass]="{ 'is-invalid': formFields.closeYear.errors || closeYearBeforeOpenYearError }">
      <div class="error__msg" *ngIf="formFields.closeYear.errors">
        Year is not valid (YYYY)
      </div>
      <div class="error__msg" *ngIf="closeYearBeforeOpenYearError">
        {{formFields.closeYear.value}} is before {{formFields.openYear.value}}
      </div>
    </div>

    <div style="margin-top: 40px" class="input">
      <label for="summary">
        Summary
      </label>
      <br>
      <app-input-rich-text id="summary"
                           formControlName="summary"
                           [dirName]="formFields.companyName.value"
      ></app-input-rich-text>
    </div>

    <div class="input">
      <ngx-recaptcha2
        #captchaElem
        [siteKey]="reCaptchaSiteKey"
        [useGlobalDomain]="false"
        (success)="restService.handleCaptchaSuccess($event, manufacturerForm, captchaElem)"
        size="normal"
        hl="en"
        formControlName="captcha"
      >
      </ngx-recaptcha2>

      <div class="captcha__error__msg error__msg" *ngIf="formFields.captcha.hasError('rejectedCaptcha')">
        CAPTCHA check did not pass
      </div>

      <div class="captcha__error__msg error__msg" *ngIf="formFields.captcha.hasError('noResponse')">
        Error in CAPTCHA check verification
      </div>

    </div>


    <div style="display: inline-flex">
      <button class="button" (click)="location.back()">Back</button>
      <button class="button" [disabled]="manufacturerForm.invalid || submitting" type="submit">Submit</button>
      <!--Spinner-->
      <div [style.visibility]="submitting ? 'visible' : 'hidden'" class="spinner" style="margin-left: 14px"></div>
    </div>


  </form>

</div>
