.is-invalid {
  color: red;
}

.error__msg {
  color: red;
  font-size: 15px;
}

.captcha__error__msg {
  margin-top: 8px;
  font-weight: bold;
}

.input {
  margin: 15px;
}

button {
  margin-left: 7px;
  margin-right: 7px;
}
