<div style="margin-bottom: 70px">

  <form [formGroup]="manufacturerForm" (ngSubmit)="!manufacturerForm.invalid && onSubmit(manufacturerForm.value)">


    <div class="input">
      <label for="company-name">
        Manufacturer Name*
      </label>
      <input id="company-name" type="text" formControlName="companyName" placeholder="e.g. Solar, Aerovox" required
             [ngModel]="manufacturer && manufacturer.companyName"
             [ngClass]="{ 'is-invalid': formFields.companyName.errors }">
      <div class="error__msg" *ngIf="formFields.companyName.errors && formFields.companyName.errors.required">
        Please provide the name of the Manufacturer
      </div>
    </div>

    <div class="input">
      <label for="open-year">
        Year Opened
      </label>
      <input id="open-year" type="text" formControlName="openYear" placeholder="optional"
             [ngModel]="manufacturer && manufacturer.openYear"
             [ngClass]="{ 'is-invalid': formFields.openYear.errors || closeYearAfterOpenYearError }">
      <div class="error__msg" *ngIf="formFields.openYear.errors">
        Year is not valid (YYY)
      </div>
    </div>

    <div class="input">
      <label for="close-year">
        Year Closed
      </label>
      <input id="close-year" type="text" formControlName="closeYear" placeholder="optional"
             [ngModel]="manufacturer && manufacturer.closeYear"
             [ngClass]="{ 'is-invalid': formFields.closeYear.errors || closeYearAfterOpenYearError }">
      <div class="error__msg" *ngIf="formFields.closeYear.errors">
        Year is not valid (YYYY)
      </div>
      <div class="error__msg" *ngIf="closeYearAfterOpenYearError">
        {{formFields.closeYear.value}} is before {{formFields.openYear.value}}
      </div>
    </div>

    <div class="input">
      <label for="summary">
        Summary
      </label>
    <br>
      <textarea id=summary formControlName="summary"
                name="message" rows="7" cols="50"
                [ngModel]="manufacturer && manufacturer.summary">
      </textarea>
    </div>

    <div class="input">
      <!--This siteKey is a publicly known key for testing so can be committed-->
      <ngx-recaptcha2
        #captchaElem
        siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
        [useGlobalDomain]="false"
        (success)="handleCaptchaSuccess($event)"
        size="normal"
        hl="en"
        formControlName="captcha"
      >
      </ngx-recaptcha2>
    </div>


    <div>
      <button class="button" (click)="location.back()">Back</button>
      <button class="button" type="submit">Submit</button>
    </div>


  </form>

</div>
