.is-invalid {
  color: red;
}

.error__msg {
  color: red;
  font-size: 15px;
}

.error__submit {
  padding: 10px;
  background-color: #ff7c6e;
  color: #383838;
  /*font-family: "Courier New", monospace;*/
}

.captcha__error__msg {
  margin-top: 8px;
  font-weight: bold;
}

.input {
  margin: 15px;
}

#summary {
  margin: 5px
}

button {
  margin-left: 7px;
  margin-right: 7px;
}
