<div class="content">

  <br><br>
  <app-image src="../../../assets/aerovox-transparency.png" width=40% alt="Wax paper capacitor">
  </app-image>
  <h1>About the site</h1>
  <p>
    Capacitor Archive is a place to upload images and historical information about vintage capacitors (originally
    called condensers) in a format similar to Wikipedia or <a href="https://www.radiomuseum.org/">Radiomuseum.org</a>.
    Capacitors are one type of electrical component found in antique radios, TVs and other electronic equipment.
  </p>
  <br>
  <h2>Motivation</h2>
  <p>
    <app-image align="right" src="../../../assets/wax-modern-comparison.png" style="margin-left: 40px;"
         width=300px alt="Comparison between antique and modern capacitor">
    </app-image>
    When collectors restore these old electronics, most of the original capacitors must be removed and replaced since many
    have failed over time.  As these old radio components are replaced with modern equivalents, some of the historical
    value and ascetic is lost.  I created this website to help preserve the history of these old components.
    In addition, when restoring rare radios, some collectors will create visual reproductions of the capacitors by
    printing out paper labels, and attaching them to modern ones.  A feature of this website will be to have printouts
    of capacitor labels for creating reproductions.

  </p>
  <br>
  <br>
  <br>

  <h2>Technical mumbo jumbo</h2>
  <figure>
      <app-image src="../../../assets/ubuntu-server.jpg" width=270px link="true" alt="home server"></app-image>
    <figcaption><strong>The $30 USD laptop hosting this website <br>from my home in New Zealand.</strong></figcaption>
  </figure>

  <p>
    This site uses an <a href="https://angular.io/">Angular</a> front end and a
    <a href="https://spring.io/projects/spring-boot">Spring</a> back end.

    Continuous integration and <a href="https://www.atlassian.com/devops/what-is-devops">DevOps</a>
    practices are used to perform automatic testing and deployment of the application.

    See the <a href="https://gitlab.com/capacitor-archive/capacitor-archive">GitLab page</a> for all
    technical information.
  </p>

  <br><br>

  <h2>Who am I?</h2>
  <a routerLink="/contact">
    <app-image src="../../../assets/creator-head-photo.jpg"
               width=180px alt="Photo of the creator">
    </app-image>
  </a>
  <p>
    I am a computer science student in New Zealand interested in radios and old electronics, and a member of the
    <a href="https://nzvrs.com/">New Zealand Vintage Radio Society</a>.

    I have an <a href="https://www.instagram.com/thurber_radios/">Instagram</a> where I like to post
    about old radios and components.

    I am fascinated by the sci-fi looking valves/vacuum tubes on the outside, and the colourful resistors and
    capacitors on the insides.
  </p>

</div>




