<div>
  <br><br>
  <img src="../../../assets/aerovox-transparency.webp" width=550px alt="Wax paper capacitor">
  <h1>About the site</h1>
  <p>
    Capacitor Archive is a place to upload images and historical information about vintage capacitors (originally
    called condensers). These are the electrical components found in antique radios, TVs and other electronic equipment.
    When collectors restore these old electronics, the original capacitors are removed and replaced since most have
    failed over time. This presents the delema
  </p>
  <img src="../../../assets/ubuntu-server.jpg" width=270px alt="home server">
  <p>
    I am a computer science student interested in radios and old electronics. While repairing old radios, I've
    always been fascinated by the sci-fi looking valves/vacuum tubes on the outside, and the colourful resistors and
    capacitors on the insides. I decided to create this web application both to practice web development and (hopefully)
    provide a tool for the vintage electronics community.
  </p>
</div>
