<div>

  <br><br>
  <img src="../../../assets/aerovox-transparency.webp" width=40% alt="Wax paper capacitor">
  <h1>About the site</h1>
  <p>
    Capacitor Archive is a place to upload images and historical information about vintage capacitors (originally
    called condensers) in a format similar to Wikipedia or <a href="https://www.radiomuseum.org/">Radiomuseum.org</a>.
    Capacitors are one type of electrical component found in antique radios, TVs and other electronic equipment.
  </p>
  <br>
  <p>
    <img style="margin-top:-20px; margin-left: 40px;" align="right" src="../../../assets/wax-modern-comparison.webp"
         width=300px alt="Comparison between antique and modern capacitor">
    When collectors restore these old electronics, most original capacitors must be removed and replaced since many
    have failed over time.  As these old radio components are replaced with modern equivalents, some of the historical
    value and ascetic is lost.  It is my hope that this website will help to preserve the history of these old components.
    In addition, when restoring rare radios, some collectors will create visual reproductions of the capacitors by
    printing out paper labels, and attaching them to modern ones.  A feature of this website will be to have printouts
    of capacitor labels for creating reproductions.

  </p>
  <br>
  <br>
  <br>

  <h2>Technical mumbo jumbo</h2>
  <figure>
    <a href="../../../assets/ubuntu-server.jpg">
      <img src="../../../assets/ubuntu-server.jpg" width=270px alt="home server">
    </a>
    <figcaption><strong>The $30 USD laptop hosting this website <br>from my home in New Zealand.</strong></figcaption>
  </figure>

  <p>
    See the <a href="https://gitlab.com/capacitor-archive/capacitor-archive">GitLab page</a> for this website for all
    technical information.    It uses an Angular front end and a Spring back end

    This web application uses <a href="https://www.atlassian.com/devops/what-is-devops">DevOps</a>
    practices to perform test and deploy the application when a commit is made to the
    repository.  An <a href="https://angular.io/">Angular</a> front end and
    <a href="https://spring.io/projects/spring-boot">Spring</a> backend have been implemented.
  </p>

  <br><br>

  <h2>Who am I?</h2>
  <p>
    I am a computer science student in New Zealand interested in radios and old electronics.  While repairing antique
    radios, I am fascinated by the sci-fi looking valves/vacuum tubes on the outside, and the colourful resistors and
    capacitors on the insides.
  </p>

</div>




