
<div style="min-height: 550px"> <!--This min-height should be the same as Quill's height + 100px-->

  <form [formGroup]="richTextForm">

    <mat-tab-group [selectedIndex]="0" dynamicHeight>

      <mat-tab>
        <ng-template mat-tab-label>
          <label>Edit</label>
        </ng-template>

        <!--Should be (onContentChanged)-->
        <quill-editor #editorElem
                      formControlName="editor"
                      [styles]="quillStyles"
                      [modules]="quillConfig"
                      (onEditorCreated)="quill = $event"
                      (onBlur)="editorChanged($event)"
                      (onContentChanged)="editorContent = $event.html"
        >
        </quill-editor>

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <label>Preview</label>
        </ng-template>


        <div class="ql-editor" [innerHTML]="previewContent"></div>

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <label>HTML</label>
        </ng-template>

        <textarea formControlName="htmlEditor" [(ngModel)]="htmlContent" (blur)="htmlEditorChanged($event)"></textarea>


      </mat-tab>

      <!--This tab is used as a hacky work around so the first tab can be selected.-->
      <mat-tab *ngIf="showBlankTab"></mat-tab>

    </mat-tab-group>

  </form>

</div>

